* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
a {
  text-decoration: none;
  /* color: #000000; */
}
.innerWidth {
  width: 100%;
}
.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.paddings {
  padding: 1.5rem;
}
