.tenant-table {
  table {
    border-collapse: collapse;
  }
  thead {
    width: 100%;
  }
  th {
    padding: 10px;
    text-align: left;
  }
  td {
    padding: 10px;
  }
  .edit-delete {
    cursor: pointer;
  }
  .edit {
    color: rgb(245, 40, 40);
    font-size: 1.2rem;
  }
  .delete {
    font-size: 1.2rem;
    color: rgb(17, 184, 17);
  }
  .add-btn {
    border: none;
    background: rgb(249, 128, 112);
    padding: 1rem;
    border-radius: 20px;
  }
}
